.idea
.vscode/settings.json
website/app/package-lock.json
*.json
*.bin
iaa/data/ava/dataset/train
iaa/data/ava/dataset/test
iaa/data/ava/subset
iaa/data/horses/dataset/rejected
iaa/data/horses/dataset/approved
iaa/models
iaa/src/giiaa/__pycache__
iaa/src/gciaa/__pycache__
iaa/src/pciaa/__pycache__
iaa/src/utils/__pycache__
.DS_Store

